.loginSignup {
  height: 100vh;
  padding: 10px;
  /* background-color: darkblue; */
}
.loginSignup__container {
  /* background-color: red; */
  height: 100%;
  width: 100%;
  display: flex;
}
.loginSignup__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  /* background-color: rgba(201, 80, 175, 0.534); */
}

.loginSignup__hero {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 50%;
  background-image: url("../../public/images/heroimg.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../public/images/heroimg.avif");
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

.MuiInputBase-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
.loginSignup__img {
  width: 70%;
}
.loginSignup__hero {
  display: flex;
  flex-direction: column; /* om du vill ha bilden ovanför carouselen */
  align-items: center; /* centrerar horisontellt */
  justify-content: center; /* centrerar vertikalt */
  text-align: center;
  padding: 20px;
}

.loginSignup__img {
  max-width: 100%; /* så att bilden inte blir större än sin container */
  height: auto;

  margin-bottom: 20px; /* lite mellanrum mellan bilden och carouselen */
}
