body {
  /* background-color: red; */
  height: 100%;
  /* padding: 0.5rem; */
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

.MuiInputBase-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
