body {
  /* background-color: red; */
  height: 100%;
  /* padding: 0.5rem; */
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}
